# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
coverage/

# Vite
*.timestamp-*-*.mjs

# Stylelint
stylelint.config.ts.*.mjs
.stylelintcache

# Test
test-results/
playwright-report/

# Build output
dist/
dist-ssr/

# Dependencies
node_modules

# Other
.DS_Store
*.local
*.tsbuildinfo
.eslintcache
*.apk
