#镜像源-默认
registry=https://registry.npmjs.org

#镜像源-淘宝
#registry=https://registry.npmmirror.com

#镜像源-阿里云
#registry=https://npm.aliyun.com

#镜像源-腾讯云
#registry=https://mirrors.cloud.tencent.com/npm

#镜像源-华为云
#registry=https://repo.huaweicloud.com/repository/npm
